@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.animate-slide-in {
  animation: slide-in 0.5s ease-in-out;
}

.animate-fade-in-up {
  animation: slide-in 0.5s ease-in-out;
}

/* Otimizações para WebView */
@media screen and (max-width: 420px) {
  input, button {
    font-size: 16px !important; /* Previne zoom automático em inputs no iOS */
  }
}

/* Ajustes para tela sensível ao toque */
@media (hover: none) {
  .group:active {
    transform: rotate(180deg);
  }
}

/* Melhorias de performance */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* src/index.css ou src/App.css */
.container {
  min-width: 320px;
  min-height: 600px;
  width: 100%; /* Permite que ele se expanda conforme a tela */
  margin: 0 auto; /* Centraliza se a tela for maior */
  padding: 16px;
  box-sizing: border-box;
}

/* App.css */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Garante que todo o conteúdo fique centralizado verticalmente, se necessário */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
