@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 100%; /* ao invés de um valor fixo */
    padding: 16px;
  }

  /* src/index.css */

  .responsive-container {
    width: 100%;
    min-width: 320px;       /* largura mínima para não quebrar */
    max-width: 768px;       /* largura máxima, simulando uma tela mobile mesmo em desktops */
    height: 100vh;          /* 100% da altura da viewport */
    margin: 0 auto;         /* centraliza o container */
    padding: 8px;
    box-sizing: border-box;
  }
  
  /* Ajustes de padding para telas menores */
  @media (max-width: 768px) {
    .responsive-container {
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .responsive-container {
      padding: 4px;
    }
  }
  